<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#navspace {
    background-color:white;
    height:590px;
    float:right;
    padding:5px; 
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:580px;
    width:300px;
    float:right;
    padding:10px; 
}
#bootfish {
    width:600px;
    float:left;
    padding:10px; 
}
#fspace {
    background-color:white;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;     
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>
